{{#if addNewAnswer}}
  <h2>New Answer</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Name:</label>
        {{input class="form-control" value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="content">Answer:</label>
        {{input class="form-control" value=content id="content"}}
      </div>

      <button class="btn btn-primary btn-outline btn-sm" {{action 'saveAnswer1'}}>Save</button>
      <button type="button" class="btn btn-outline btn-info btn-sm" {{action 'newAnswerHide'}}>Hide</button>
    </form>
  </div>
  {{else}}
  <button class="btn btn-primary btn-outline btn-sm" {{action 'answerFormShow'}}>Add Answer</button>
{{/if}}
