<div class="questionBox container-fluid">
  <h2 class="questionHead"> {{model.content}} </h2>

  <h4 class="questionHead">asked by {{model.author}} </h4>

  {{#if model.tags}}
    <h6 class="questionHead">
      Tags:
      {{#each model.tags as |tag|}}
        {{tag}},
      {{/each}}
    </h6>
  {{/if}}

  {{update-question  class="questionHead" question=model update="update"}}

  <br>

  <h4>Answers:</h4>

  <ul class="list-group">
  {{#each model.answers as |answer|}}
    <li class="list-group-item">
      <blockquote>
        <p>{{answer.content}}</p>
        <footer>{{answer.author}}</footer>
      </blockquote>
    </li>
  {{/each}}
  </ul>

  {{new-answer saveAnswer2="save3" question=model}}
</div>
